body {
  margin: -.25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(31, 31, 31);
  color: rgb(202, 202, 202);
  font-weight: 500;
}
a {
  color: rgb(43, 111, 230);
}

textarea {
  resize: none;
}
.ContactForm {
  background-color:rgb(49, 49, 49);
  display: inline-block;
  border-radius: 1em;
  padding: 1em;
  margin: .5em;
  max-width: 80vw;
  text-align: center;
}
.ContactForm label {
  text-align: left;
  display: block;
}

.ContactForm input,
.ContactForm textarea,
.ContactForm select {
  width: 90%;
  padding: 0.5em;
  margin: .5em;
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 16px;
  color: rgb(202, 202, 202);
}

.ContactForm button {
  color: rgb(202, 202, 202);
  padding: .5em 1em .5em 1em;
  margin: 2em 1em 0 1em;
  border-radius: 1em;
  max-height: 8vh;
  cursor: pointer;
  background-color: rgb(71,71,71);
  border: none;
}

.UseState {
  max-width: 80vw;
  /* margin: 0 -1em -1em -1em; */
  margin: 1em;
  padding: 1em;
  background-color: rgb(31, 31, 31);
  display: inline-block;
}

h1, h2 {
  color: rgb(43, 111, 230);
}
/* h3 {
  color: rgb(164, 193, 245);
} */
.Welcome {
  background-color: rgb(31, 31, 31);
  margin: 0 -1em -1em -1em;
  /* padding: 1px; */
}
